In [56]:
# Import Dependencies
import os
import pandas as pd
import numpy as np
import requests
import gmaps
from config import g_key
from pprint import pprint

In [2]:
city_file_path = os.path.join('..','Resources','cities_weather_data.csv')
city_df = pd.read_csv(city_file_path)
city_df

,City_ID,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Flin Flon,CA,2021-04-01 17:59:19,54.7682,-101.8650,39.20,60,90,8.05
1,1,Hithadhoo,MV,2021-04-01 17:59:19,-0.6000,73.0833,83.77,76,85,16.96
2,2,East London,ZA,2021-04-01 17:57:40,-33.0153,27.9116,66.20,77,75,6.91
3,3,Punta Arenas,CL,2021-04-01 17:58:08,-53.1500,-70.9167,51.80,76,0,11.50
4,4,Yangi Marg`ilon,UZ,2021-04-01 17:59:19,40.4272,71.7189,39.20,56,11,9.22
...,...,...,...,...,...,...,...,...,...,...
553,553,Soe,ID,2021-04-01 18:02:29,-9.8607,124.2840,66.78,97,100,2.21
554,554,Mabaruma,GY,2021-04-01 18:02:30,8.2000,-59.7833,84.88,51,100,7.47
555,555,Karpogory,RU,2021-04-01 18:02:31,64.0019,44.4451,28.09,96,95,4.76
556,556,Pemangkat,ID,2021-04-01 18:02:31,1.1667,108.9667,79.50,79,98,1.77
557,557,Armidale,AU,2021-04-01 18:02:31,-30.5167,151.6500,48.99,95,72,6.11

In [3]:
city_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lon           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure GMaps
gmaps.configure(api_key=g_key)

In [5]:
locations = city_df[["Lat", "Lon"]]
city_df['Pos Temp'] = [max(i,0) for i in city_df['Max Temp']]
city_df

,City_ID,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Pos Temp
0,0,Flin Flon,CA,2021-04-01 17:59:19,54.7682,-101.8650,39.20,60,90,8.05,39.20
1,1,Hithadhoo,MV,2021-04-01 17:59:19,-0.6000,73.0833,83.77,76,85,16.96,83.77
2,2,East London,ZA,2021-04-01 17:57:40,-33.0153,27.9116,66.20,77,75,6.91,66.20
3,3,Punta Arenas,CL,2021-04-01 17:58:08,-53.1500,-70.9167,51.80,76,0,11.50,51.80
4,4,Yangi Marg`ilon,UZ,2021-04-01 17:59:19,40.4272,71.7189,39.20,56,11,9.22,39.20
...,...,...,...,...,...,...,...,...,...,...,...
553,553,Soe,ID,2021-04-01 18:02:29,-9.8607,124.2840,66.78,97,100,2.21,66.78
554,554,Mabaruma,GY,2021-04-01 18:02:30,8.2000,-59.7833,84.88,51,100,7.47,84.88
555,555,Karpogory,RU,2021-04-01 18:02:31,64.0019,44.4451,28.09,96,95,4.76,28.09
556,556,Pemangkat,ID,2021-04-01 18:02:31,1.1667,108.9667,79.50,79,98,1.77,79.50
557,557,Armidale,AU,2021-04-01 18:02:31,-30.5167,151.6500,48.99,95,72,6.11,48.99

In [6]:
heatmap_layer = gmaps.heatmap_layer(
                        locations, 
                        city_df['Pos Temp'],
                        dissipating=False, 
                        max_intensity=300, 
                        point_radius=4
                        )
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
heatmap_layer = gmaps.heatmap_layer(
                        locations, 
                        city_df['Humidity'],
                        dissipating=False, 
                        max_intensity=300, 
                        point_radius=4
                        )
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
heatmap_layer = gmaps.heatmap_layer(
                        locations, 
                        city_df['Cloudiness'],
                        dissipating=False, 
                        max_intensity=300, 
                        point_radius=4
                        )
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [94]:
heatmap_layer = gmaps.heatmap_layer(
                        locations, 
                        city_df['Wind Speed'],
                        dissipating=False, 
                        max_intensity=300, 
                        point_radius=4
                        )
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
min_temp = float(input("How much cold can you handle?"))
max_temp = float(input("How much heat can you handle?"))
print('Here you go! You might love these vacation destinations..')
vaca_df = city_df.loc[
                    (city_df['Max Temp'] >= min_temp) & 
                    (city_df['Max Temp'] <= max_temp)
                    ].dropna().head(200)

How much cold can you handle?50
How much heat can you handle?80
Here you go! You might love these vacation destinations..

Figure(layout=FigureLayout(height='420px'))

In [11]:
hotel_df = vaca_df[['City','Country','Lat','Lon','Max Temp']]
hotel_df['Hotel Name'] = ''
hotel_df = hotel_df.reset_index().drop(columns = 'index')
hotel_df

<ipython-input-11-3c81d167d142>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ''

             City Country      Lat       Lon  Max Temp Hotel Name
0     East London      ZA -33.0153   27.9116     66.20
1    Punta Arenas      CL -53.1500  -70.9167     51.80
2           Oyama      JP  36.3000  139.8000     62.01
3            Naze      JP  28.3667  129.4833     65.95
4           Anito      PH  12.4497  125.2886     78.12
..            ...     ...      ...       ...       ...        ...
195          Biak      ID  -0.9131  122.8766     78.04
196       Kendari      ID  -3.9450  122.4989     75.65
197   San Quintín      MX  30.4833 -115.9500     68.95
198       Te Anau      NZ -45.4167  167.7167     54.75
199       Moindou      NC -21.6924  165.6770     73.40

[200 rows x 6 columns]

In [12]:
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
params = {
    'type' : 'lodging',
    'keyword' : 'hotel',
    'radius' : 5000,
    'key' : g_key
}
result_count = len(hotel_df)
for i in range(0,result_count):
    params['location'] = f"{hotel_df['Lat'][i]},{hotel_df['Lon'][i]}"
    try:
        response = requests.get(base_url,params)
        hotel_df['Hotel Name'][i] = response.json()['results'][0]['name']
        print(f"Successfully Processed {i+1} of {result_count}")
    except:
        print(f"Processing Failed for {i+1} of {result_count}")

<ipython-input-12-4eea22c5f363>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'][i] = response.json()['results'][0]['name']

Successfully Processed 1 of 200
Successfully Processed 2 of 200
Successfully Processed 3 of 200
Successfully Processed 4 of 200
Successfully Processed 5 of 200
Successfully Processed 6 of 200
Successfully Processed 7 of 200
Successfully Processed 8 of 200
Successfully Processed 9 of 200
Successfully Processed 10 of 200
Successfully Processed 11 of 200
Processing Failed for 12 of 200
Successfully Processed 13 of 200
Successfully Processed 14 of 200
Successfully Processed 15 of 200
Successfully Processed 16 of 200
Processing Failed for 17 of 200
Successfully Processed 18 of 200
Successfully Processed 19 of 200
Successfully Processed 20 of 200
Successfully Processed 21 of 200
Processing Failed for 22 of 200
Successfully Processed 23 of 200
Successfully Processed 24 of 200
Successfully Processed 25 of 200
Successfully Processed 26 of 200
Successfully Processed 27 of 200
Successfully Processed 28 of 200
Successfully Processed 29 of 200
Successfully Processed 30 of 200
Processing Failed for 31 of 200
Successfully Processed 32 of 200
Successfully Processed 33 of 200
Successfully Processed 34 of 200
Successfully Processed 35 of 200
Processing Failed for 36 of 200
Successfully Processed 37 of 200
Successfully Processed 38 of 200
Successfully Processed 39 of 200
Successfully Processed 40 of 200
Processing Failed for 41 of 200
Successfully Processed 42 of 200
Successfully Processed 43 of 200
Successfully Processed 44 of 200
Successfully Processed 45 of 200
Successfully Processed 46 of 200
Successfully Processed 47 of 200
Processing Failed for 48 of 200
Successfully Processed 49 of 200
Processing Failed for 50 of 200
Successfully Processed 51 of 200
Successfully Processed 52 of 200
Processing Failed for 53 of 200
Successfully Processed 54 of 200
Successfully Processed 55 of 200
Successfully Processed 56 of 200
Successfully Processed 57 of 200
Successfully Processed 58 of 200
Successfully Processed 59 of 200
Successfully Processed 60 of 200
Successfully Processed 61 of 200
Successfully Processed 62 of 200
Successfully Processed 63 of 200
Successfully Processed 64 of 200
Successfully Processed 65 of 200
Successfully Processed 66 of 200
Successfully Processed 67 of 200
Successfully Processed 68 of 200
Successfully Processed 69 of 200
Successfully Processed 70 of 200
Successfully Processed 71 of 200
Processing Failed for 72 of 200
Processing Failed for 73 of 200
Successfully Processed 74 of 200
Processing Failed for 75 of 200
Successfully Processed 76 of 200
Successfully Processed 77 of 200
Successfully Processed 78 of 200
Successfully Processed 79 of 200
Successfully Processed 80 of 200
Successfully Processed 81 of 200
Successfully Processed 82 of 200
Successfully Processed 83 of 200
Successfully Processed 84 of 200
Successfully Processed 85 of 200
Successfully Processed 86 of 200
Successfully Processed 87 of 200
Successfully Processed 88 of 200
Successfully Processed 89 of 200
Processing Failed for 90 of 200
Successfully Processed 91 of 200
Successfully Processed 92 of 200
Successfully Processed 93 of 200
Successfully Processed 94 of 200
Successfully Processed 95 of 200
Processing Failed for 96 of 200
Processing Failed for 97 of 200
Processing Failed for 98 of 200
Successfully Processed 99 of 200
Successfully Processed 100 of 200
Successfully Processed 101 of 200
Successfully Processed 102 of 200
Successfully Processed 103 of 200
Successfully Processed 104 of 200
Successfully Processed 105 of 200
Successfully Processed 106 of 200
Successfully Processed 107 of 200
Successfully Processed 108 of 200
Successfully Processed 109 of 200
Successfully Processed 110 of 200
Processing Failed for 111 of 200
Successfully Processed 112 of 200
Successfully Processed 113 of 200
Successfully Processed 114 of 200
Successfully Processed 115 of 200
Successfully Processed 116 of 200
Successfully Processed 117 of 200
Successfully Processed 118 of 200
Successfully Processed 119 of 200
Successfully Processed 120 of 200
Successfully Processed 121 of 200
Successfully Processed 122 of 200
Successfully Processed 123 of 200
Successfully Processed 124 of 200
Successfully Processed 125 of 200
Successfully Processed 126 of 200
Successfully Processed 127 of 200
Successfully Processed 128 of 200
Successfully Processed 129 of 200
Successfully Processed 130 of 200
Successfully Processed 131 of 200
Successfully Processed 132 of 200
Processing Failed for 133 of 200
Successfully Processed 134 of 200
Processing Failed for 135 of 200
Successfully Processed 136 of 200
Successfully Processed 137 of 200
Successfully Processed 138 of 200
Processing Failed for 139 of 200
Successfully Processed 140 of 200
Successfully Processed 141 of 200
Processing Failed for 142 of 200
Successfully Processed 143 of 200
Successfully Processed 144 of 200
Successfully Processed 145 of 200
Processing Failed for 146 of 200
Successfully Processed 147 of 200
Processing Failed for 148 of 200
Successfully Processed 149 of 200
Successfully Processed 150 of 200
Successfully Processed 151 of 200
Successfully Processed 152 of 200
Successfully Processed 153 of 200
Successfully Processed 154 of 200
Successfully Processed 155 of 200
Successfully Processed 156 of 200
Processing Failed for 157 of 200
Successfully Processed 158 of 200
Successfully Processed 159 of 200
Successfully Processed 160 of 200
Successfully Processed 161 of 200
Successfully Processed 162 of 200
Successfully Processed 163 of 200
Successfully Processed 164 of 200
Successfully Processed 165 of 200
Successfully Processed 166 of 200
Successfully Processed 167 of 200
Successfully Processed 168 of 200
Processing Failed for 169 of 200
Successfully Processed 170 of 200
Successfully Processed 171 of 200
Successfully Processed 172 of 200
Successfully Processed 173 of 200
Successfully Processed 174 of 200
Successfully Processed 175 of 200
Successfully Processed 176 of 200
Successfully Processed 177 of 200
Successfully Processed 178 of 200
Successfully Processed 179 of 200
Processing Failed for 180 of 200
Successfully Processed 181 of 200
Successfully Processed 182 of 200
Successfully Processed 183 of 200
Successfully Processed 184 of 200
Processing Failed for 185 of 200
Successfully Processed 186 of 200
Successfully Processed 187 of 200
Processing Failed for 188 of 200
Successfully Processed 189 of 200
Successfully Processed 190 of 200
Successfully Processed 191 of 200
Successfully Processed 192 of 200
Successfully Processed 193 of 200
Successfully Processed 194 of 200
Successfully Processed 195 of 200
Processing Failed for 196 of 200
Successfully Processed 197 of 200
Successfully Processed 198 of 200
Successfully Processed 199 of 200
Processing Failed for 200 of 200

In [13]:
hotel_df

,City,Country,Lat,Lon,Max Temp,Hotel Name
0,East London,ZA,-33.0153,27.9116,66.20,Blue Lagoon Hotel
1,Punta Arenas,CL,-53.1500,-70.9167,51.80,Hotel Dreams Del Estrecho
2,Oyama,JP,36.3000,139.8000,62.01,HOTEL R9 The Yard 小山天神
3,Naze,JP,28.3667,129.4833,65.95,風と海のテラス ゲストハウスベイサイド東ヶ丘
4,Anito,PH,12.4497,125.2886,78.12,The Yellow House
...,...,...,...,...,...,...
195,Biak,ID,-0.9131,122.8766,78.04,
196,Kendari,ID,-3.9450,122.4989,75.65,Claro Hotel Kendari
197,San Quintín,MX,30.4833,-115.9500,68.95,Old Mill Hotel
198,Te Anau,NZ,-45.4167,167.7167,54.75,Lakefront Lodge Te Anau
199,Moindou,NC,-21.6924,165.6770,73.40,

In [99]:
vaca_locations = hotel_df[['Lat','Lon']]
heatmap_layer = gmaps.heatmap_layer(
                        vaca_locations, 
                        hotel_df['Max Temp'],
                        dissipating=False, 
                        max_intensity=300, 
                        point_radius=4
                        )
info_box_template = """
<dl>
    <dt>Nearest Hotel</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**i) for i in hotel_df.to_dict('records')]
marker_layer = gmaps.marker_layer(vaca_locations, info_box_content=hotel_info)

fig = gmaps.figure(
    center = (30.0, 31.0),
    zoom_level = 1.75
    )
fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))